
.grid-tabs{
	border:0;
	margin-left: 20px;
	.nav-link{
		border:0;
		svg path{
			fill:#CBCBCB;
		}
		&.active{
			svg path{
				fill:$primary;
			}
		}
	}
}

.project-boxed{
	overflow:hidden;
	.list-group-flush{
		.list-group-item{
			padding: 0.5rem 1.5rem;
			font-size: 14px;
		}
	}
	.img-bx{
		position:relative;
		.badge{
			position:absolute;
			bottom:15px;
			right:15px;
		}
	}
}